// colors
$color-main: #026aa7;
$color-border: #ababab;
$color-bg--medium: #ebecf0;
$color-bg--light: #f4f4f4;
$color-success: #60A561;
$color-danger: #e03d3d;
$color-typo--dark: #172b4d;
$color-typo--medium: #a8a8a8;

$color-label-green: #61bd4f;
$color-label-yellow: #f2d600;
$color-label-orange: #ff9f1a;
$color-label-red: #b04632;
$color-label-purple: #c377e0;
$color-label-blue: #0079bf;

$color-board-blue: #0079bf;
$color-board-orange: #d29034;
$color-board-green: #519839;
$color-board-red: #b04632;
$color-board-purple: #89609e;
$color-board-pink: #cd5a91;
$color-board-lime: #4bbf6b;
$color-board-sky: #00aecc;
$color-board-grey: #838c91;

// sizes / gutters
$size--header: 50px;
$size--main-gutter: 50px;