.icon-menu{
    background: url("../img/icon-menu.svg") no-repeat center;
    background-size: contain;
}

.icon-menu-white{
    background: url("../img/icon-menu-white.svg") no-repeat center;
    background-size: contain;
}

.icon-pencil{
    background: url("../img/icon-pencil.svg") no-repeat center;
    background-size: contain;
}

.icon-close{
    background: url("../img/icon-close.svg") no-repeat center;
    background-size: contain;
}

.icon-description{
    background: url("../img/icon-description.svg") no-repeat center;
    background-size: contain;
}

.icon-card{
    background: url("../img/icon-card.svg") no-repeat center;
    background-size: contain;
}

.icon-comment{
    background: url("../img/icon-comment.svg") no-repeat center;
    background-size: contain;
}

.icon-archive{
    background: url("../img/icon-archive.svg") no-repeat center;
    background-size: contain;
}

.icon-back{
    background: url("../img/icon-back.svg") no-repeat center;
    background-size: contain;
}